<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<header>
<div class="header_logo">
<h1>WD</h1>
</div>

<div class="header_menu">
<a class="menu_item" href="#intro">ГЛАВНАЯ</a>
<a class="menu_item" href="#about_me">ОБ АВТОРЕ</a>
<a class="menu_item" href="#my_projects">РАБОТЫ</a>
<a class="menu_item" href="#process">ПРОЦЕСС</a>
<a class="menu_item" href="#send">КОНТАКТЫ</a>
</div>

</header>

</body>
<ul>
{% for c in courses %}
<li>
<h2> {{c.title}} </h2>
<p>{{c.description}}</p>
<p><a href="{%url 'course' c.id %}">Открыть курс</a></p>
</li>
{% endfor %}
</ul>

</html>